:root{
  --primary-color: #afecee;
  --secondary-color: #f3f4f5;
  --background-color: #d0ecd2;
  --text-color: #333;
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  header{
    
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 3.5px solid var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  flex-grow: 1;
}

.card-title {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card-description {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.card-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}
.like-button {
  color: #ccc;
  font-size: 1.5em;
  cursor: pointer;
  transition: scale .3s linear;
  border: none;
  background: transparent;
}
.like-button:hover {
  scale: 1.2;
}
.delete-button {
  color: #ccc;
  font-size: 1.5em;
  cursor: pointer;
  transition: scale .3s linear;
  border: none;
  background: transparent;
}
.delete-button:hover {
  scale: 1.2;
}

.filter-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color .3s linear;
}

.filter-button:hover {
  background-color: #2f6b32;
}

.card-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.card-details-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.card-details h2 {
  margin-top: 20px;
}

.card-details p {
  line-height: 1.6;
}
.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color .3s linear;
}
.back-button:hover {
  background-color: #2f6b32;
}


.card-details .card-actions {
  margin-top: 20px;
}
